- var i = 0;
- var j = 0;

.overlay

.Navigation

    .item(onclick='backDir("..")') /

    - for(j; j<nav.length; j++){

    .item(onclick='backDir("'+nav[j].link+'")')= nav[j].name

    - }

.Explorer

    a(ondblclick='openDir("..")')
        .item(class='dir', title='parent')
            .img
                img(src='/images/icons/maindir.png')
            .title= '..'


    - for (i; i < dir.length; i++) {

    a(ondblclick='openDir("'+ dir[i].link +'")')
        .item(class=className, title=dir[i].name)
            .img
                img(src='/images/icons/' + dir[i].icon)
            .title= dir[i].name

    - }